@import "tailwindcss";

@theme {
  --color-primary: #4263eb;
  --color-secondary: #63e6be;
  --container-padding-default: 1rem;
  --container-padding-lg: 2rem; 
}

.container {
  max-width: 100%; 
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding-default);
  padding-right: var(--container-padding-default);

  /* Responsive container padding */
  @media (min-width: 1024px) {
    padding-left: var(--container-padding-lg);
    padding-right: var(--container-padding-lg);
  }
}
